[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
